html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* <<<====== common styles ======>>> */

/* <<<====== Login page ======>>> */

#login {
    background-color: black;
    height: 100vh;
    background:url("../Image/istockphoto-1263562386-170667a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    border-radius: 5px;
    
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }

/* <<<====== index page ======>>> */

.card {
  background-image: url("../Image/cloud-blue-sky.jpg");
  background-color: blanchedalmond;
  background-size: cover;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 4px #82d7f8;
  margin-top: 50px;
  margin-bottom: 50px
}

.time-font {
  font-size: 50px
}

.sm-font {
  font-size: 18px
}

.med-font {
  font-size: 28px
}

.large-font {
  font-size: 60px
}

.city {
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px black;
}

.weather {
  font-size: 30px;
  color:white;
  display:inline-block;
}

.temp {
  font-size: 80px;
  color: white;
}

.time {
  margin-top: -15px;
}

.topic {
  font-size: 20px;
}

img{
  width: 50px;
  display:inline-block;
}
.weather-cond{
  white-space: nowrap;
}

.date {
  font-size: 25px;
  font-weight: bold;
}

/* next 4 week */
